<app-navbar></app-navbar>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card shadow" style="width: 100%;">
                    <div class="card-body p-0 py-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/img/user.jpg">
                                </div>
                                <div class="col-8 account-details">
                                    <p class="name text-uppercase">{{profileDetails?.first_name}}
                                        {{profileDetails?.last_name}}</p>
                                    <p>{{profileDetails?.email}}</p>
                                    <p>{{profileDetails?.phone_number}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow mt-4 mt-sm-0 balance-card" style="width: 100%;">
                    <div class="card-body p-0 py-2">
                        <p class="balance text-uppercase">Your Balance</p>
                        <h1 class="amount" *ngIf="(accountBalance$ |async) as wallet">{{wallet?.balance | currency: 'KSH
                            ' }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h5 class="text-primary text-end">Recent transactions</h5>
        <div class="table-container">
            <div class="pt-2" *ngFor="let transaction of (myRecentTransactions$ | async)">
                <div class="card shadow-sm send-transaction mb-2" style="width: 100%;" *ngIf="transaction?.type === 'send'">
                    <div class="card-body">
                        <div class="transaction-detail">
                            <div>
                                <p class="text-bold">{{transaction?.receiver?.first_name}} {{transaction?.receiver?.last_name}}</p>
                                <p>{{transaction?.receiver?.phone_number}}</p>
                            </div>
                            <div class="text-end">
                                <p>- {{transaction?.amount | currency: 'Ksh '}}</p>
                                <p>{{transaction?.createdAt | date: 'medium'}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card shadow-sm topup-transaction mb-2" style="width: 100%;" *ngIf="transaction?.type === 'topUp'">
                    <div class="card-body">
                        <div class="transaction-detail">
                            <div>
                                <p class="text-bold">{{transaction?.user?.first_name}} {{transaction?.user?.last_name}}</p>
                                <p>{{transaction?.user?.phone_number}}</p>
                            </div>
                            <div class="text-end">
                                <p>+ {{transaction?.amount | currency: 'Ksh '}}</p>
                                <p>{{transaction?.createdAt | date: 'medium'}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card shadow-sm receive-transaction mb-2" style="width: 100%;" *ngIf="transaction?.type === 'receive'">
                    <div class="card-body">
                        <div class="transaction-detail">
                            <div>
                                <p class="text-bold">{{transaction?.sender?.first_name}} {{transaction?.sender?.last_name}}</p>
                                <p>{{transaction?.sender?.phone_number}}</p>
                            </div>
                            <div class="text-end">
                                <p>+ {{transaction?.amount | currency: 'Ksh '}}</p>
                                <p>{{transaction?.createdAt | date: 'medium'}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer-action-buttons fixed-bottom  p-0">
        <button type="button" class="btn btn-primary" (click)="openModalComponent('TOP_UP')">Top Up</button>
        <button type="button" class="btn btn-primary" (click)="openModalComponent('SEND_MONEY')">Send Money</button>

    </div>
</div>