<app-navbar></app-navbar>
<div class="hero_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 ps-md-5 mb-4  d-none d-sm-block">
        <h3>Welcome to Quikk API </h3>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, mollitia quibusdam
          reprehenderit itaque laudantium nihil saepe expedita veniam quas in magnam adipisci, rerum ratione at. Maiores
          omnis deserunt veritatis nobis?</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, mollitia quibusdam
          reprehenderit itaque laudantium nihil saepe expedita veniam quas in magnam adipisci, rerum ratione at. Maiores
          omnis deserunt veritatis nobis?</p>
        <button type="button" class="btn btn-outline-primary shadow-lg text-black text-uppercase">Explore More</button>
      </div>
      <div class="col-sm-4 pe-md-5" *ngIf="showLogin">
        <div class="card" style="width: 100%; border: none;">
          <div class="card-body">
            <h4 class="card-title">Welcome Back!</h4>
            <form [formGroup]="loginForm">
              <div class="mb-3">
                <label class="form-label">Email address *</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Password *</label>
                <input type="password" class="form-control" formControlName="password" required>
              </div>
              <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary w-100">Sign In</button>
            </form>
            <p class="pt-2">You don't have an account? <a (click)="showLogin = false" class="text-primary">Create
                here.</a></p>
          </div>
        </div>

      </div>
      <div class="col-sm-4 pe-md-5" *ngIf="!showLogin">
        <div class="card" style="width: 100%; border: none;">
          <div class="card-body">
            <h4 class="card-title">Create Account</h4>
            <form [formGroup]="registrationForm">
              <div class="mb-3">
                <label class="form-label">First Name *</label>
                <input type="text" class="form-control" formControlName="first_name">
              </div>
              <div class="mb-3">
                <label class="form-label">Last Name *</label>
                <input type="text" class="form-control" formControlName="last_name">
              </div>
              <div class="mb-3">
                <label class="form-label">Email address *</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Phone Number *</label>
                <input type="text" class="form-control" formControlName="phone_number" minlength="10" maxlength="10">
              </div>
              <div class="mb-3">
                <label class="form-label">Password *</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
              <button (click)="register()" [disabled]="registrationForm.invalid" class="btn btn-primary w-100">Create an
                Account</button>
            </form>
            <p class="pt-2">You don't have an account? <a (click)="showLogin = true" class="text-primary">Create
                here.</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#99F3BD" fill-opacity="1"
      d="M0,32L60,42.7C120,53,240,75,360,74.7C480,75,600,53,720,42.7C840,32,960,32,1080,37.3C1200,43,1320,53,1380,58.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
    </path>
  </svg>
</div>